body {
    padding-top: 56px;
}

.brand-bg-color {
    background-color: #24135F !important;
}

.brand-bg-secondary {
    background-color: #DBDBDB !important;
}

.brand-txt-color {
    color: #FC4C02 !important;
}

.carousel-item > .container {
    padding: 4rem 0;
}

.carousel-item h1 {
    font-size: 2rem;
    padding: 1rem 0;
}
